*{
  padding:0px;
  margin:0px;
  border:0px none;
}

main{
  width:90%;
  margin:0 auto;
}

img{
  width:100%;
}

div[class*="col-"]:nth-child(4n+1){
  clear:left;
}

input[type="text"]{
  width:100%;
  height:30px;
  line-height:30px;
  font-size:16px;
}

.hidden{
  display:none!important;
}

#sources{
  display:none;
}
